.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #6a0dad; /* purple background */
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bottom-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.bottom-nav a.active {
  color: #ffea00; /* yellow active link */
}
